google-generativeai
seaborn
streamlit
SpeechRecognition
pandas
pandasai
openai
pyyaml
matplotlib
numpy
openpyxl
pyaudio==0.2.11
Flask
werkzeug
requests
opencv-python-headless
av
streamlit-webrtc
streamlit_mic_recorder 
google-cloud-speech
pytds
